In [48]:
import pandas as pd
from datetime import datetime

from msilib import sequence
from turtle import width
import streamlit as st
import pandas as pd 
from PIL import Image
import PIL
import altair as alt
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np
import os
import geopandas as gpd

C:\Users\antara.das\AppData\Local\Programs\Python\Python310\lib\site-packages\geopandas\_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [29]:
pollen_data = pd.read_csv('pollendata.csv', sep = ';')

In [30]:
pollen_data.tail()

,Standort,von_Tag,von_Zeit,bis_Tag,bis_Zeit,Birke,Erle,Hasel,Esche,Roggen,Graeser,Beifuss,Ambrosia,Unnamed: 13
2915,Feucht,31.12.2021,09:00:00,31.12.2021,12:00:00,0,0,0,0,0,0,0,0,NaN
2916,Feucht,31.12.2021,12:00:00,31.12.2021,15:00:00,0,"0,66",0,0,0,0,0,0,NaN
2917,Feucht,31.12.2021,15:00:00,31.12.2021,18:00:00,0,0,0,0,0,0,0,0,NaN
2918,Feucht,31.12.2021,18:00:00,31.12.2021,21:00:00,.,.,.,.,.,.,.,.,NaN
2919,Feucht,31.12.2021,21:00:00,01.01.2022,00:00:00,.,.,.,.,.,.,.,.,NaN

In [31]:
pollen_data = pollen_data.drop(columns = ['Unnamed: 13'])

In [32]:
pollen_data.Standort.value_counts()

Feucht    2919
Name: Standort, dtype: int64

In [36]:
pollen_data['von_Tag'] = pd.to_datetime(pollen_data['von_Tag'], format='%d.%m.%Y')
pollen_data['von_Zeit'] = pd.to_datetime(pollen_data['von_Zeit'], format='%H:%M:%S')


pollen_data['bis_Tag'] = pd.to_datetime(pollen_data['bis_Tag'], format='%d.%m.%Y')
pollen_data['bis_Zeit'] = pd.to_datetime(pollen_data['bis_Zeit'], format='%H:%M:%S')

In [37]:
pollen_data.tail()

,Standort,von_Tag,von_Zeit,bis_Tag,bis_Zeit,Birke,Erle,Hasel,Esche,Roggen,Graeser,Beifuss,Ambrosia
2915,Feucht,2021-12-31,1900-01-01 09:00:00,2021-12-31,1900-01-01 12:00:00,0,0,0,0,0,0,0,0
2916,Feucht,2021-12-31,1900-01-01 12:00:00,2021-12-31,1900-01-01 15:00:00,0,"0,66",0,0,0,0,0,0
2917,Feucht,2021-12-31,1900-01-01 15:00:00,2021-12-31,1900-01-01 18:00:00,0,0,0,0,0,0,0,0
2918,Feucht,2021-12-31,1900-01-01 18:00:00,2021-12-31,1900-01-01 21:00:00,.,.,.,.,.,.,.,.
2919,Feucht,2021-12-31,1900-01-01 21:00:00,2022-01-01,1900-01-01 00:00:00,.,.,.,.,.,.,.,.

In [39]:
pollen_data['garbage'] = pd.to_datetime(pollen_data['von_Zeit']).dt.date

In [41]:
pollen_data['von_Zeit'] = pd.to_datetime(pollen_data['von_Zeit']).dt.time

In [43]:
pollen_data['garbage2'] = pd.to_datetime(pollen_data['bis_Zeit']).dt.date
pollen_data['bis_Zeit'] = pd.to_datetime(pollen_data['bis_Zeit']).dt.time

In [44]:
pollen_data = pollen_data.drop(columns=['garbage','garbage2'])

In [46]:
pollen_data.von_Tag.max()

Timestamp('2021-12-31 00:00:00')

In [47]:
pollen_data.von_Tag.min()

Timestamp('2021-01-01 00:00:00')

In [49]:
data = '.\data'
geo_nurn = gpd.read_file(os.path.join(data, 'Nuerberg_MR_plz.geojson'))
geo_nurn.head(2)

,einwohner,note,plz,NUTS_ID,NUTS_NAME,geometry
0,3314,07330 Probstzella,07330,DE246,"Bayreuth, Landkreis","MULTIPOLYGON (((11.44087 50.50048, 11.44086 50..."
1,3294,07343 Wurzbach,07343,DE246,"Bayreuth, Landkreis","MULTIPOLYGON (((11.52942 50.37808, 11.52939 50..."

In [50]:
pollen_data.head(2)

,Standort,von_Tag,von_Zeit,bis_Tag,bis_Zeit,Birke,Erle,Hasel,Esche,Roggen,Graeser,Beifuss,Ambrosia
0,Feucht,2021-01-01,00:00:00,2021-01-01,03:00:00,.,.,.,.,.,.,.,.
1,Feucht,2021-01-01,03:00:00,2021-01-01,06:00:00,.,.,.,.,.,.,.,.

In [54]:
geo_nurn[geo_nurn['note'].str.contains('Feucht')]

,einwohner,note,plz,NUTS_ID,NUTS_NAME,geometry
64,12400,"90537 Nrnberg-Feucht, Feuchter Forst",90537,DE246,"Bayreuth, Landkreis","POLYGON ((11.15715 49.38534, 11.16543 49.38449..."
207,12095,91555 Feuchtwangen,91555,DE246,"Bayreuth, Landkreis","POLYGON ((10.23036 49.21021, 10.23030 49.21028..."